# Archivos y carpetas de caché de Python
__pycache__/
*.pyc
*.pyo

# Archivos de entorno y logs
.env
# Logs
*.log
*.txt
*.json

# Data
*.csv
*.json

# Data
*.csv

# Archivos de entorno y logs
.idea/

# Testing temporales
testing_*.log
RESULTADOS_TEST_*.md
RELEASE_NOTES_*.md
